@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}
code {
  white-space: pre-wrap;
  display: block;
}
#navbar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  padding: 1rem;
  box-shadow: 1px 5px 10px black;
  align-items: left;
  overflow: scroll;
}

#navbar header {
  font-size: 2rem;
  padding: 0.4rem;
}

#navbar a {
  padding: 0.4rem;
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
  transition: all 0.3s ease;
}

#navbar a:hover {
  background-color: black;
  color: white;
}
main {
  position: absolute;
  left: 23vw;
  margin: 2rem;
}

@media (max-width: 767px){
  #navbar {
    position: relative;
    left: unset;
    top: 0;
    height: 30vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.3rem;
  }
  #navbar a{
    font-size: 1.2rem!important;
  }
  main {
    position: relative;
    left: unset;
  }
  code{
    font-size: 0.8rem!important;
    margin: 0.3rem!important;
    padding: 0.2rem!important;
    line-height: 1.2rem!important;
    color:#7E7!important;
  }
}
header {
  font-weight: bold;
}
section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
section header {
  font-size: 2rem;
  margin-top: 1rem;
  border-left: 6px solid black;
  padding-left: 1rem;
}
section p, li {
  font-size: 1.3rem;
  margin: 2rem;
}
section code {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  line-height: 2rem;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.4);
  margin: 2rem;
}
.inline-code{
  background-color: #eee;
  color: black;
  font-family: monospace;
  padding: 0.3rem;
}

#credits ul li a{
  color: black;
}

a[href="#credits"]{
  margin-top: 1rem;
  border-top: 8px solid black;
}